:root{
    --white: #fff;
    --outerspace: #ccc;

}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

header {
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    background-color: #555;
    color: var(--white);
}

nav { 
    list-style-type:none;
    font-size:20px;
    color: var(--white);
    display:inline;
    text-align:right;
    
}

ul li{

    font-size:22px;
    color:var(--outerspace);
    text-decoration:underline;
}

a{
    color:var(--outerspace) ;
}


