:root{
    --white: #fff;
    --outerspace: #ccc;

}



header {
    width:100%;
    height:100px;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    background-color: #555;
    color: var(--white);
}


ul li{
    font-size:22px;
    color:var(--outerspace);
    text-decoration:underline;
    display:inline;
    float:right;
    list-style-type:none;
    margin-right:20px;
}

img { 
    max-width:300rem;
    max-height: 100%;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

#cool{
    position : absolute;
    bottom: 8px;
    right : 16px;
}
